{% extends 'master/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block dashboard_title1 %} Dashboard {% endblock dashboard_title1 %}

{% block dashboard_title2 %} Dashboard {% endblock dashboard_title2 %}

{% block content %}
    {% load static %}
        <!-- Main content -->
        <section class="content">
        <div class="container-fluid">
            <!-- Map -->
            <div class="row">
                <div class="col-sm-12">
                    <div id="imgmap" class="card" style="width:100%;min-height:55vh;"></div>
                </div>
            </div>
            {% if user.is_admin %}
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{images.count}}</h3>

                            <p>Image(s)</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-image"></i>
                        </div>
                        <a href="{% url 'images' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{image_files_count}}<sup style="font-size: 15px">+</sup></h3>

                            <p>Total Tested Images</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="{% url 'images' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{user_count}}</h3>

                            <p>User Registrations</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="{% url 'allusers' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>{{project_count}}</h3>

                            <p>Projects</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="{% url 'viewprojects' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                <!-- ./col -->
                </div>
            {% else %}
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{images.count}}</h3>

                            <p>Image(s)</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-image"></i>
                        </div>
                        <a href="{% url 'images' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{image_files_count}}<sup style="font-size: 15px">+</sup></h3>

                            <p>Total Tested Images</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="{% url 'images' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
            {% endif %}

            <center><small>In Development (Logged In User Type: {{ user.user_type|upper }})</small></center>
            <!-- /.row -->
        <!-- /.content -->
    </div>

{% endblock content %}

{% block script %}
    <!-- Bunch of Image info appending to map -->
    <script>
        var imgmap = L.map('imgmap',{
            zoom: 4,
            minZoom: 2,
            worldCopyJump: true,
            maxBounds: L.latLng(-80, 80)
        }).setView([27.7172, 85.3240]);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(imgmap);

        var markers = L.markerClusterGroup();
        var info = '';

        {% for image in images|slice:":500" %}
            {% if image.lat != None and image.lng != None  %}
                info = "<a href=\"{% if user.is_admin %}{% url 'images.update' image.id %}{% else %}#!{% endif %}\"><b title='{{image.created_at}}'>{{image.title}}</b></a><br/><small><b>{{image.description}}</b></small><br/>({{image.lat}},{{image.lng}})<hr/>";
                {% for file in image.image_files.all %}
                    info += "<a class='map-image-num' href='#!' onclick='showImagePop(event,\"{% if file.file %}{{file.file.url}}{% else %}{% static 'dist/img/default-150x150.png' %}{% endif %}\",\"Image failed to load.\",\"{% if file.result %}Title/Class: {{file.result|title}} <br/> Score: {{file.score}}{% else %}<i style=color:maroon;>Not Tested</i>{% endif %}\")'>{{forloop.counter}}</a>"
                {% endfor %}
                mark = L.marker(["{{image.lat}}", "{{image.lng}}"]).addTo(imgmap).bindPopup(info);
                {% if focus_at and image.id|stringformat:"i" == focus_at %}
                    mark.openPopup();
                    imgmap.flyTo([{{image.lat}},{{image.lng}}], 8, {
                        "animate": true,
                        "duration": 2.5
                    });
                {% endif %}
                markers.addLayer(mark);
            {% endif %}
        {% endfor %}

        imgmap.addLayer(markers);

        var popup = L.popup();
        imgmap.on('click', function(e) {
            popup
            .setLatLng(e.latlng)
            .setContent(e.latlng.toString())
            .openOn(imgmap);
        });
    </script>
{% endblock script %}