<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ISAC-SIMO | Registration Page</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Register in ISAC-SIMO - Intelligent Supervision Assistant for Construction - Sistema Inteligente de Monitoreo de Obra - Web Application">
  <meta name="keywords" content="ISAC,SIMO,intelligent,supervision,assistant,construction,build,register">
  <meta name="author" content="Build Change,IBM,Niush">
  <meta name="theme-color" content="#343a40">
  <meta name="msapplication-navbutton-color" content="#343a40">
  <meta name="apple-mobile-web-app-status-bar-style" content="#343a40">
  <link rel="icon" type="image/png" href="{% static 'dist/img/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'dist/img/favicon-16x16.png' %}" sizes="16x16" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <style>
    body::-webkit-scrollbar{width:.6em;height:.5em}
    body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background:#dedede}
    body::-webkit-scrollbar-thumb{background-color:#2c3b41;outline:1px solid slategrey}
    #id_image{padding-bottom: 35px;}
    @keyframes fade{
      0%{opacity:0;transform:translate(0,-10px);}
      100%{opacity:1;transform:translate(0,0);}
    }

    .register-box{
      opacity: 0;
      animation: fade 0.5s 0.3s ease forwards;
    }
  </style>
</head>

<body class="hold-transition register-page">
  <div class="register-box" style="width:500px;">
    <div class="register-logo" style="font-size: 2.4rem;">
      <a href="{% url 'index' %}" style="color:initial;"><b>ISAC-</b>SIMO</a>
    </div>

    <p class="login-box-msg" style="font-size: 1.5rem;font-weight:700;">Register New Account</p>

    <div class="card">
      <div class="card-body register-card-body">
        {% load crispy_forms_tags %}
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          
          <div class="row">
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
          </div>
        </form>

        <br />
        <hr>

        <p class="mt-0 mb-0">
          <a href="{% url 'login' %}">Already a User ? Login Here</a>
        </p>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->

  <!-- jQuery -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- AdminLTE App -->
  <script src="{% static 'dist/js/adminlte.min.js' %}"></script>
</body>

</html>
