ENV=local
SECRET_KEY=
DATABASE_URL=
IBM_API_KEY=
PROJECT_FOLDER=
MAINTENANACE=False
PASSWORD=pass

# ::NOTE::
# CLASSIFIER_ID / Name needs to be kept in isac_simo/classifier_list array as required 
# (or can be added by admin from dashboard)

# ::NOTE::
# PROJECT_FOLDER in production should not end with closing front or back slash '/' or '\' (keep it empty)
# e.g. /home/username/isac
# do not close isac