{% extends 'master/base.html' %}

{% block title %} Projects {% endblock title %}

{% block dashboard_title1 %} Projects {% endblock dashboard_title1 %}

{% block dashboard_title2 %} Projects {% endblock dashboard_title2 %}
{% load static %}

{% block content %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-title ml-3 mt-2">
                        <a href="{% url 'addproject' %}"  class="btn btn-primary">
                            <i class="fas fa-plus"></i> Add New Project
                        </a>
                    </div>
                    <div class="card-body">
                        <table id="usersTable" class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td style="width:15px;">{{project.id}}</td>
                                        <td>{{project.project_name|title}}</td>
                                        <td>{{project.project_desc}}</td>
                                        <td>
                                            <a href="#!" onclick="showImagePop(event, '{% if project.image %}{{project.image.url}}{% else %}{% static 'dist/img/avatar5.png' %}{% endif %}','{{ project.project_name|default:"This" }} image failed to load.')">View</a>
                                        </td>
                                        <td class="table-options">
                                            <a title="Edit" data-toggle="tooltip" data-placement="left" href="{% url 'updateproject' project.id %}" class="btn text-secondary px-0">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a onclick="deleteData(event, 'form-{{ project.id }}', 'Project')" title="Delete" data-toggle="tooltip" data-placement="left" href="{% url 'deleteproject' project.id %}" class="btn text-secondary px-0">
                                                <i class="fa fa-trash text-danger"></i>
                                            </a>
                                            <form action="{% url 'deleteproject' project.id %}" id="form-{{ project.id }}" method="post" class="d-inline">
                                                {% csrf_token %}
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody> 
                        </table>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}

{% block script %}
    <script>
        $(function () {
          $('#usersTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
          });
        });
    </script>
{% endblock script %}