{% extends 'master/base.html' %}
{% block title %} Google Map Check with Streetview {% endblock title %}
{% block dashboard_title1 %} Google Map Street View Check {% endblock dashboard_title1 %}
{% block dashboard_title2 %} Google Map {% endblock dashboard_title2 %}
{% load static %}

{% block content %}
    <style>.swal2-icon{transform: scale(1) !important;margin: 1.25em auto 1.875em !important;}</style>

    <div class="row">
        <div id="map_check" class='col-12'>
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div id="map" style="width:100%;height:430px;"></div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="latlng" class="col-sm-12 col-form-label">Latitude/Longitude</label>
                            <div class="col-sm-12">
                                <input type="text" name="latlng" class="form-control" id="latlng" placeholder="Click on Map to get Latitude and Longitude or type in e.g.(24.44,54.22)" required/>
                            </div>
                            <small class="col-sm-12 form-text mt-1 text-danger" id="latlng_msg" style="margin:0;"></small>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="coordinates" class="col-sm-12 col-form-label">Coordinates</label>
                            <div class="col-sm-12" id="coordinates">
                                <b class="form-control ">-OR- Add Polygon in the map to use Coordinates for getting images</b>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="map_check_btn" class="ml-2 btn btn-primary">Check</button>
                        <p class="mt-2">
                            <small class="d-block ml-2">Angle: 30, 220, 0, 90, 180, 270</small>
                            <small class="d-block ml-2">FOV: 120</small>
                        </p>
                    </div>
                    <div class="form-group">
                        <hr/>
                        <h4 class="ml-2">Image Result:</h4>
                        <div id="image-container" class="row"><div class="ml-3">No Result !!</div></div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="image_list" name="image_list" value=''/>
                        <div class="form-group">
                            <label for="object_id" class="col-sm-12 col-md-5 col-form-label">Select the Object Model to test on:</label>
                            <div class="col-sm-12 col-md-5">
                                <select name="object_id" class="form-control select2" id="object_id" required>
                                    {% comment %} {% if default_object_model %}
                                        <option value="{{default_object_model}}">{{default_object_model}}</option>
                                    {% endif %} {% endcomment %}
                                    {% if projects %}
                                        {% for project in projects %}
                                            {% if project.detect_model %}
                                                <option data-project-id="{{project.id}}" data-project="{{project.project_name}}" value="{{project.detect_model}}">{{project.detect_model}}</option>
                                            {% elif project.offline_model %}
                                                <option data-project-id="{{project.id}}" data-project="{{project.project_name}}" value="{{project.offline_model}}">Offline Model - {{project.offline_model}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <button type="submit" id="test_images_btn" style="display:none;" class="ml-2 btn btn-primary">Test Images</button>
                        <p id="test_images_btn_text" style="display:none;margin-left: 8px;margin-top: 2px;">Might take some time depending on the total images...</p>
                    </div>

                    <div class="form-group mt-1" id="clean-image-btn" style="display:none;">
                        <a href="#!" onclick="simpleConfirm(event,'{% url 'watson.cleantempstreetview' %}','Clean All Temporarily Saved Street View Images?')" class="ml-2 mt-2 btn btn-danger btn-sm">Clean Saved Street View Images</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>

    <script>
        (function() {
            var ll = new LazyLoad({
                threshold: 0,
            });
        })();

        var map;
        var marker;
        var imageMarkers = []
        var coordinates = [];
        var currentPolygon = null;
        var panoFileLatLngList = [];
        function validateLatLng(latlng){
            var lat = latlng.split(',')[0]
            var lng = latlng.split(',')[1]
            if(isFinite(lat) && Math.abs(lat) <= 90 && isFinite(lng) && Math.abs(lng) <= 180 && lat != '' && lng != ''){
                document.getElementById('latlng_msg').innerText = '';
                document.getElementById('map_check_btn').style.display = 'block';
                return true;
            }else{
                document.getElementById('latlng_msg').innerText = 'Invalid Latitude,Longitude';
                document.getElementById('map_check_btn').style.display = 'none';
                return false;
            }
        }

        function addMarker(latlng, zoom){
            if(marker){marker.setMap(null)}
            marker = new google.maps.Marker({
                position: latlng,
                map: map
            });
            map.panTo(latlng);
            if(zoom){
                map.setZoom(zoom);
            }
        }

        function clearPolygon(){
            if(currentPolygon){
                currentPolygon.setMap(null)
                coordinates = []
                var coordinatesContainer = document.getElementById('coordinates')
                coordinatesContainer.innerHTML = ''
            }
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 15.397, lng: 50.644},
                zoom: 2,
                mapTypeControl: true,
                streetViewControl: true,
                mapTypeControlOptions: {
                    mapTypeIds: ['hybrid', 'roadmap', 'satellite']
                },
                mapTypeId: 'hybrid'
            });

            google.maps.event.addListener(map, "click", function (e) {
                var latlng = e.latLng.lat()+','+e.latLng.lng();
                if(validateLatLng(latlng)){
                    document.getElementById('latlng').value = latlng;
                    addMarker(e.latLng);
                }
            });

            document.getElementById('latlng').addEventListener('keyup', function(event){
                if(event.target.value){
                    if(validateLatLng(event.target.value.replace(/ /g,''))){
                        var latlng = event.target.value.replace(/ /g,'');
                        var latlngObj = new google.maps.LatLng(latlng.split(',')[0], latlng.split(',')[1])
                        addMarker(latlngObj, 10);
                        document.getElementById('latlng').value = latlng;
                    }
                }else{
                    document.getElementById('latlng_msg').innerText = 'Provide a valid Latitude,Longitude';
                }
            })

            // Draw Polygon
            var drawingManager = new google.maps.drawing.DrawingManager({
                drawingMode: false,
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.LEFT_CENTER,
                    drawingModes: ['polygon']
                },
                polygonOptions: {
                    fillColor: '#323232',
                    fillOpacity: 0.4,
                    strokeWeight: 2,
                    strokeColor: '#ffff00',
                    clickable: true,
                    editable: true,
                    zIndex: 1
                }
            });
            drawingManager.setMap(map);

            function updatePolygonPoints(polygon){
                currentPolygon = polygon;
                var path = polygon.getPath();
                var coordinatesContainer = document.getElementById('coordinates')
                coordinatesContainer.innerHTML = ''
                coordinates = [];
                for (var i = 0 ; i < path.length ; i++) {
                    coordinates.push({
                        lat: path.getAt(i).lat(),
                        lng: path.getAt(i).lng()
                    });
                    coordinatesContainer.innerHTML = coordinatesContainer.innerHTML + 
                        '<b>Lat: ' + path.getAt(i).lat() + ', Long: ' + path.getAt(i).lng() +'<br/>'  
                }
                coordinatesContainer.innerHTML = coordinatesContainer.innerHTML + '<button class="btn btn-sm btn-secondary" onclick="clearPolygon()">Clear Polygon</button>'
                //console.log(coordinates);
                drawingManager.setDrawingMode(null);
            }
            
            google.maps.event.addListener(drawingManager, "polygoncomplete", function(polygon){
                google.maps.event.addListener(polygon.getPath(), 'insert_at', function(index, obj) {
                    updatePolygonPoints(polygon)
                });
                google.maps.event.addListener(polygon.getPath(), 'set_at', function(index, obj) {
                    updatePolygonPoints(polygon)
                });
                google.maps.event.addListener(polygon.getPath(), 'remove_at', function(index, obj) {
                    updatePolygonPoints(polygon)
                });
                
                clearPolygon()
                updatePolygonPoints(polygon)
            })
        }

        document.getElementById('map_check_btn').addEventListener('click', function(evt){
            var latlng = document.getElementById('latlng').value;
            if(!latlng && coordinates.length <= 0){
                Swal.fire({
                    title: "Latitude/Longitude Not Provided",
                    text: 'Click on the map to get latlng or draw polygon area',
                    type: 'error',
                });
                return;
            }else{
                if(coordinates.length > 0){ // Give 1st priority to polygon rather then drop pin
                    latlng = coordinates[0]['lat']+','+coordinates[0]['lng']
                }

                evt.target.innerHTML = 'Check <i class="ml-2 fa fa-sync fa-spin"></i>'
                evt.target.style.pointerEvents = 'none'
                document.getElementById('image-container').innerHTML = '<div class="ml-3">No Result !!</div>'
                document.getElementById('test_images_btn').style.display = 'none';
                // TRY TO FETCH IMAGES METADATA //
                $.ajax({
                    url: "https://maps.googleapis.com/maps/api/streetview/metadata?size=600x300&location="+latlng+"&fov=120&heading=235&pitch=10&key="+"{{GOOGLE_MAP_STREET_API}}",
                    success: function(res){
                        // IF METADATA FOUND - TRY TO GET STREETVIEW FROM FRONTEND //
                        if(res.status == 'OK'){
                            console.log('trying to fetch streetview image....');
                            var url = "https://maps.googleapis.com/maps/api/streetview?size=600x300&location="+latlng+"&fov=120&heading=235&pitch=10&key="+"{{GOOGLE_MAP_STREET_API}}";
                            $.ajax({
                                url: url,
                                success: function(result){
                                    document.getElementById('image-container').innerHTML = '<a class="col-sm-6 col-md-3" style="display:flex;justify-content:center;align-items:center;flex-flow:column;" href="'+url+'" target="_blank"><img src="'+url+'" alt="streetview image result" class="img-fluid"/></a><small>Trying to load more. Angle might not always be accurate..</small>'
                                
                                    // NOW CALL BACKEND API TO FETCH ALL CLOSEST IMAGES //
                                    if(coordinates.length > 0){ // Give 1st priority to polygon rather then drop pin
                                        latlng = JSON.stringify(coordinates)
                                    }
                                    $.ajax({
                                        type: "POST",
                                        url: "{% url 'map.fetch' %}",
                                        data: {'latlng': latlng, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                                        dataType: "json",
                                        success: function(res) {
                                            console.log(res);
                                            evt.target.innerHTML = 'Check'
                                            evt.target.style.pointerEvents = 'all'
                                            var images = res.data
                                            panoFileLatLngList = res.coords
                                            if(imageMarkers.length > 0){
                                                for(var i = 0 ; i < imageMarkers.length ; i++){
                                                    imageMarkers[i].setMap(null)
                                                }
                                                imageMarkers = []
                                            }
                                            var imageHtml = ''
                                            for(var i = 0 ; i < images.length ; i++){
                                                imageHtml += '<a class="col-sm-6 col-md-3 target-focus" id="pano-image-'+i+'" title="'+panoFileLatLngList[i]+'" style="display:flex;justify-content:center;align-items:center;flex-flow:column;margin-bottom: 10px;" href="'+images[i].replace("{{PROJECT_FOLDER}}",'')+'" target="_blank"><img data-src="'+images[i].replace("{{PROJECT_FOLDER}}",'')+'" alt="streetview image result no. '+i+'" style="box-shadow: 0 4px 8px #323232;" class="img-fluid fade-img"/></a>'

                                                var latlngObj = new google.maps.LatLng(panoFileLatLngList[i].split(',')[0], panoFileLatLngList[i].split(',')[1])
                                                mark = new google.maps.Marker({
                                                    position: latlngObj,
                                                    map: map,
                                                    title: panoFileLatLngList[i],
                                                    url: window.location.href.split('#')[0] + '#' + 'pano-image-'+i
                                                });
                                                google.maps.event.addListener(mark, 'click', function() {
                                                    window.location.href = this.url
                                                });
                                                imageMarkers.push(mark)
                                            }
                                            document.getElementById('image-container').innerHTML = imageHtml?imageHtml:'<div class="ml-3">No Result !!</div>'
                                            Swal.fire(images.length + ' Images Fetched from Street View','','success');
                                            if(images.length >= 1){
                                                document.getElementById('test_images_btn').style.display = 'block';
                                                document.getElementById('image_list').value = JSON.stringify(images);
                                                document.getElementById('clean-image-btn').style.display = 'block';
                                            }
                                            new LazyLoad({threshold: 0});
                                        },
                                        error: function(err) {
                                            if(err.responseJSON){
                                                Swal.fire("Unable to Save Images from Street View",err.responseJSON.message,'error');
                                            }else{
                                                Swal.fire("Unable to Save Images from Street View",err.responseText,'error');
                                            }
                                            evt.target.innerHTML = 'Check'
                                            evt.target.style.pointerEvents = 'all'
                                            new LazyLoad({threshold: 0});
                                        }
                                    });
                                },
                                error: function(err){
                                    console.log(err.responseText)
                                    Swal.fire("Unable to Fetch Streetview Image",'Something went wrong','error');
                                }
                            });
                        // IF METADATA --NOT-- FOUND - THROW ERROR //
                        }else if(res.status == 'ZERO_RESULTS' || res.status == 'NOT_FOUND'){
                            Swal.fire("No Streetview Images available for this location",'No Results','info');
                            evt.target.innerHTML = 'Check'
                            evt.target.style.pointerEvents = 'all'
                        }else{
                            Swal.fire("Unable to Fetch Streetview Details",res.status,'error');
                            evt.target.innerHTML = 'Check'
                            evt.target.style.pointerEvents = 'all'
                        }
                    },
                    error: function(err){
                        Swal.fire("Unable to Fetch Streetview Details",'Something went wrong','error');
                        evt.target.innerHTML = 'Check'
                        evt.target.style.pointerEvents = 'all'
                    }
                });
            }
        })

        // TEST IMAGES
        document.getElementById('test_images_btn').addEventListener('click', function(evt){
            evt.target.innerHTML = 'Test Images <i class="ml-2 fa fa-sync fa-spin"></i>'
            evt.target.style.pointerEvents = 'none'
            document.getElementById('clean-image-btn').style.display = 'none';
            document.getElementById('test_images_btn_text').style.display = 'block';
            var project = $("#object_id").find(":selected").data().projectId;
            if(!project){
                alert('Unable to retrive project.')
                return;
            }

            $.ajax({
                type: "POST",
                url: "{% url 'map.test' %}",
                data: {'image_list': document.getElementById('image_list').value, 'detect_model': document.getElementById('object_id').value, 'project': project, 'csrfmiddlewaretoken': '{{csrf_token}}'},
                dataType: "json",
                success: function(res) {
                    //console.log(res);
                    evt.target.innerHTML = 'Test Images'
                    evt.target.style.pointerEvents = 'all'

                    var data = res.data
                    for(var i = 0 ; i < data.length ; i++){
                        if(document.getElementById('pano-image-'+i)){
                            if(data[i]["score"] && data[i]["result"]){
                                document.getElementById('pano-image-'+i).innerHTML = document.getElementById('pano-image-'+i).innerHTML + '<small style="font-size: 1.2em;font-weight: 900;" onclick="showPipelineStatus(event,\''+encodeURIComponent(JSON.stringify(data[i]["pipeline_status"]))+'\',\''+panoFileLatLngList[i]+'\',true)">Score: '+data[i]["score"]+' - Result: '+data[i]["result"]+'</small>'
                            }else{
                                document.getElementById('pano-image-'+i).innerHTML = document.getElementById('pano-image-'+i).innerHTML + '<small style="font-size: 1.2em;font-weight: 900;">No Result</small>'
                            }
                        }else{
                            console.log(data[i])
                        }
                    }
                    if(data.length >= 1){
                        document.getElementById('test_images_btn').style.display = 'none';
                        document.getElementById('test_images_btn_text').style.display = 'none';
                        document.getElementById('image_list').value = '';
                    }
                    document.getElementById('clean-image-btn').style.display = 'block';
                },
                error: function(err) {
                    if(err.responseJSON){
                        Swal.fire("Unable to Test Images",err.responseJSON.message,'error');
                    }else{
                        Swal.fire("Unable to Test Images",err.responseText,'error');
                    }
                    evt.target.innerHTML = 'Test Images'
                    evt.target.style.pointerEvents = 'all'
                    document.getElementById('clean-image-btn').style.display = 'block';
                }
            });
        })

        function formatState (state) {
            if (!state.id) {
                return state.text;
            }
            var project = state.element.getAttribute('data-project')
            var $state = $(
                '<span><b>' + state.text + '</b><br/><small>Project: ' + (project?project:'Default') + '</small></span>'
            );
            return $state;
        };

        function formatSelection (state) {
            if (!state.id) {
                return state.text;
            }
            var project = state.element.getAttribute('data-project')
            var $state = $(
                '<span>' + state.text + ' - <small>(' + (project?project:'Default') + ')</small></span>'
            );
            return $state;
        };

        $('#object_id').select2({
            templateResult: formatState,
            templateSelection: formatSelection
        });
    </script>

    {% if debug %}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing&callback=initMap"
    async defer></script>
    {% else %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAP_API}}&libraries=drawing&callback=initMap"
    async defer></script>
    {% endif %}
{% endblock script %}